@model IEnumerable<Project1.BusinessLibrary.Product>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Cart";

    var user_type = HttpContextAccessor.HttpContext.Request.Cookies["user_type"];
    var user_id = HttpContextAccessor.HttpContext.Request.Cookies["user_id"];
    if (user_type == "2")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml" ;
    }
    else
    {
        if (user_id == null)
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
        }
    }
}

<div class="container">
    <h1>@Html.DisplayName(HttpContextAccessor.HttpContext.Request.Cookies["user_name"])Products</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductQty)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductQty)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>