@model IEnumerable<Project1.BusinessLibrary.Product>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Cart";

    var user_type = HttpContextAccessor.HttpContext.Request.Cookies["user_type"];
    var user_id = HttpContextAccessor.HttpContext.Request.Cookies["user_id"];
    decimal total = 0;
    if (user_type == "2")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml" ;
    }
    else
    {
        if (user_id == null)
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
        }
    }
}

<div class="container">
    @if (TempData["SuccessOrder"].Equals("1") && TempData["SuccessOrder"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Order Placed Successfully!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <h1 style="margin-top: 1em;">@Html.DisplayName(HttpContextAccessor.HttpContext.Request.Cookies["user_name"])'s Products</h1>

    <table class="table">
        <caption>Shopping Cart</caption>
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ProductQty)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductQty)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
                total += item.ProductPrice * item.ProductQty;
            }
        </tbody>
    </table>
    <p style="text-align: right"><strong>Grand Total: $@total.ToString("0.##")</strong></p>
    <form asp-action="Cart">
        <button type="submit" class="btn btn-primary float-right">Complete Order</button>
    </form>
</div>