@model Project1.WebApp.Models.ProductLocationViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Product";
}

@{
    var user_type = HttpContextAccessor.HttpContext.Request.Cookies["user_type"];
    var user_id = HttpContextAccessor.HttpContext.Request.Cookies["user_id"];

    if (user_type == "2")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        if (user_id == null)
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
        }
    }
}

<div class="container">
    @if (TempData["Success"].Equals("1") && TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Item added to cart
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row" style="margin-top: 10em;">
        <div class="col-sm">
            <div class="product-image">
                <img src="@Html.DisplayFor(x => x.ProductImage)" alt="Game Case Image" style="width: 300px; height: 350px;" />
            </div>
        </div>
        <div class="col-sm">
            <div style="margin-top: 2em;">
                <h3>@Html.DisplayFor(x => x.ProductName)</h3>
                <h4>$@Html.DisplayFor(x => x.ProductPrice)</h4>
                <p>Qty In Stock: @Html.DisplayFor(x => x.ProductQty)</p>
                <form class="form" asp-action="Product">
                    <div class="form-group form-row" style="width: 50%">
                        <label for="locationSelect">Select a Store:</label>
                        <select class="form-control" id="locationSelect" asp-for="LocationId">
                            @{
                                foreach (var l in Model.locations)
                                {
                                    <option value="@l.StoreLocationId">@Html.DisplayFor(modelItem => l.StoreLocationName)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-row" style="width: 50%">
                        <label for="locationSelect" style="padding: 0 1em 0 1em">Qty:</label>
                        <select class="form-control" id="qtySelect" asp-for="ProductQty">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-row" style="margin-top: 1em">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                    @Html.HiddenFor(x => x.ProductId)
                    @Html.HiddenFor(x => x.ProductPrice)
                </form>
            </div>
        </div>
    </div>
</div>
