@model Project1.WebApp.Models.AdminLocationModel

@{
    ViewData["Title"] = "Locations";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1 style="margin-top: 1em;">Locations</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-controller="Admin" asp-action="Locations" method="get">
        <p>
            Location ID: <input type="text" asp-for="id" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <table class="table table-striped">
        <caption>All Stream's Store Locations</caption>
        <thead style="background-color: #007bff; color: #f8f9fa">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Locations[0].StoreLocationId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Locations[0].StoreLocationName)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Locations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreLocationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreLocationName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>