@model Project1.WebApp.Models.AdminOrderModel

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1 style="margin-top: 1em;">Orders</h1>
    <form asp-controller="Admin" asp-action="Orders" method="get">
        <p>
            Order ID: <input type="text" asp-for="id" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <table class="table table-striped">
        <caption>All Stream's Customers Orders</caption>
        <thead style="background-color: #007bff; color: #f8f9fa">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Orders[0].OrderId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Orders[0].OrderCustomerId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Orders[0].OrderStoreLocationId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Orders[0].OrderTime)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Orders[0].OrderTotal)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderStoreLocationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTotal)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "OrderDetails", new { id=item.OrderId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
