@model IEnumerable<Project1.BusinessLibrary.Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="container">
    <h1>Orders</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderCustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStoreLocationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderTotal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderStoreLocationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTotal)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
