@model Project1.WebApp.Models.AdminProductModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1>Products</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-controller="Admin" asp-action="Products" method="get">
        <p>
            Product ID: <input type="text" asp-for="id" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <table class="table">
        <caption>All Stream's Game Products</caption>
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Products[0].ProductId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Products[0].ProductName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Products[0].ProductPrice)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Products[0].ProductQty)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Products[0].ProductImage)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductImage)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>