@model IEnumerable<Project1.BusinessLibrary.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1>Products</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <caption>All Stream's Game Products</caption>
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ProductQty)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ProductImage)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductImage)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>